
body {
    background-image:url('pitures/background.png');
}

.jumbotron {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: #000000;

    background-color: #eeeeee;
    opacity:1.00;
    filter:alpha(opacity=100); /* For IE8 and earlier */

}

.container .jumbotron {
    padding-right: 0px;
    padding-left: 0px;
    border:2px solid;
    border-color:#CFCFCF;
}

#block{
    margin-left:auto;
    margin-right:0px;
}

#testHeadline{
    background-color: #CFCFCF;
}

.row{
    font-size: 17px;
    background-color: #ffffff;
    margin-left: 0px;
    margin-right: 0px;
}

.row:hover {
    background-color: #D4EDF3;
}

#level1{
    padding-left:0px;
}

#level2{
    padding-left:30px;
}

#level3{
    padding-left:60px;
}

#level4 {
    padding-left:90px;
}

