
body {
    background-image:url('background.png');
}

.jumbotron {
    padding: 30px;
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
    line-height: 2.1428571435;
    color: #cfcfcf;

    background-color: #000000;
    opacity:0.80;
    filter:alpha(opacity=80); /* For IE8 and earlier */

}

#block{
    margin-left:auto;
    margin-right:0px;
}

#runTestButton{

}

#status{

}

.row{
    font-size: 17px;
}

.row:hover {
    color: #FFFFFF;
}

#level1{
    padding-left:0px;
}

#level2{
    padding-left:30px;
}

#level3{
    padding-left:60px;
}

#level4 {
    padding-left:90px;
}

